.titre{
    font-weight: bold;
    color:gray;
    font-size: larger;
 

}
.rating{

    color:indigo;
    font-weight: 900;
}
.carte{
    border: solid 3px grey;
    margin:5px;
    width: fit-content;
}