.bienvenue {
  display: flex;
  justify-content: center;
}
.solde {
  display: flex;
  justify-content: flex-end;
}

.service {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  font-size: 30px;
}
